main {
	position: relative;
	margin-bottom: 20px;
}
main h2 {
	position: absolute;
	font-size: 45px;
	font-style: italic;
	color: yellow;
	top: 75%;
	left: 50%;
	transform: translate(-50%);
}

.onepiece h2 {
	font-size: 30px;
	text-align: center;
	color: darkorchid;
}

.onepiece img {
	width: 100%;
}

@media screen and (max-width: 750px) {
	main h2 {
		font-size: 35px;
	}
}

@media screen and (max-width: 600px) {
	main h2 {
		display: none;
	}
}
